@import "./config";

$grid-breakpoint: 290px;

.movies {

    &__results {
        color: $page-text-color;
        padding: 1em;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($grid-breakpoint, 1fr));
        gap: 1em;
        padding: 1em;
        

        &--movie {
            border-radius: 1rem;
            box-shadow: 3px 4px 15px rgb(0 0 0 / .3);
            overflow: clip;

            .movie__poster {
                width: 100%;
                aspect-ratio: 1;
            }

            .movie__details {
                // border: 3px solid firebrick;
                padding: .5em;
                
                &--type {
                    color: $page-text-color-accent;
                    font-weight: 100;
                }

                &--title {
                    color: $page-text-color;
                    font-weight: weights(bold);
                }
            }
        }
    }
}