@import "./config";

// variables
$breakpoint: 700px;

.nav {
  border-bottom: 1px solid $page-text-color;
  padding: 1em 0;
  @include flexCentered(row, unset, space-around);
  position: relative;
  backdrop-filter: blur(15px);

  &__logo {
    position: relative;
    color: $page-text-color;
    mix-blend-mode: color;

    .play {
      color: $page-text-color-accent;
      position: absolute;
      left: 0;
      top: -0.5rem;
      z-index: -1;
      font-size: 3rem;
    }
  }

  // Search box
  &__search {
    border: 2px solid $page-text-color;
    display: flex;
    align-items: center;
    padding-inline: 1em;
    border-radius: 4rem;

    input {
      border: 0;
      background-color: transparent !important;
      padding: 1em 0.5em;

      &:where(:focus, :active) {
        outline-color: transparent;
        background-color: transparent;
      }
    }
  }

  &__items {
    list-style-type: none;
    display: flex;
    gap: 1em;
  }

  &__hamburger {
    display: none;
  }

  @include media($breakpoint) {
    &__hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 40px;
      aspect-ratio: 1;
      cursor: pointer;
      z-index: 2;

      .burger {
        width: 40px;
        background: $page-text-color;
        border-radius: 0.5rem;
        height: 5px;
        transition: all 200ms ease;
      }

      &:hover {
        .burger {
          background: $page-text-color-accent;
        }
      }
    }

    // Hamburger menu active
    &__hamburger.active {
      .burger1 {
        transform: rotate(45deg) translateY(17px);
      }

      .burger2 {
        opacity: 0;
        pointer-events: none;
      }

      .burger3 {
        transform: rotate(-45deg) translateY(-15px);
      }
    }

    &__items {
      position: fixed;
      right: 0;
      top: 0;
      padding: 2em;
      height: 100dvh;
      width: 45%;
      background: $page-theme;
      box-shadow: 3px 4px 10px rgb(0 0 0 / 0.2);
      transition: transform 200ms ease-in-out;
      transform: translateX(100%);
      @include flexCentered(column, 2em, center);

      &--item {
        .link {
          text-decoration: none;
          color: $page-text-color;
          font-size: 1.5rem;
        }
      }

      // Theme selector item
      .theme-selector {
        position: relative;
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        width: 100%;
        cursor: pointer;
        font-size: 1.5rem;
        border: 2px solid $page-text-color-accent;
        border-radius: 4rem;
        padding-block: 0.2em;
        background: $page-text-color-accent;
        color: #fff;
        transition: background 200ms ease-in-out;

        &:hover {
          background: lighten($page-text-color-accent, 10%);
        }

        &__themes {
          display: inherit;
          flex-direction: column;
          background: $page-text-color-accent;
          border-radius: 1rem;
          position: absolute;
          top: 3rem;
          width: 100%;
          padding-block: 1em;
          transition: all 400ms ease-in-out;
          transform: translateY(50%);
          opacity: 0;
          pointer-events: none;

          button {
            padding: 0.5em 1.5em;
            border: 0;
            display: inherit;
            gap: 1em;
            border: 0;
            font-size: 1.3rem;
            background: transparent;
            color: $page-theme;
            cursor: pointer;
            transition: all 200ms ease;

            &:hover {
              background: lighten($page-text-color-accent, 10%);
            }
          }
        }
      }

      // When active
      .theme-selector.show {
        .theme-selector__themes {
          transform: translateY(0);
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
